# Supabase Connection URLs
DATABASE_URL=postgresql://postgres:[password]@[host]:6543/postgres?pgbouncer=true
DIRECT_URL=postgresql://postgres:[password]@[host]:5432/postgres

# App Configuration
CORS_ORIGIN=
BETTER_AUTH_SECRET=
BETTER_AUTH_URL=
GOOGLE_GENERATIVE_AI_API_KEY=
POLAR_ACCESS_TOKEN=
POLAR_SUCCESS_URL=